export MONGODB_USER=questions-bot
export MONGODB_PASSWORD=GkwC2IZMEbSHd7po
export MONGODB_CONN_STRING=mongodb+srv://cluster1-upeac.mongodb.net/questionsdb?retryWrites=true
export SLACK_WEBHOOK_URL=/T8H461LP7/BBEMZDTRB/McWCMVnGSEvni8pLrU67xCX4

